{% include 'header.html' %}
{% if request.path == '/feeds/'%}
<div class="container w-50 shadow-lg p-3 rounded text-center" style="background-color: midnightblue;">
    <div class="col-6 mx-auto">
        <form method="post" class="mt-3" action="">{% csrf_token %}
            {{form.tweet}}
            <input type="submit" value="shoot!" class="btn btn-light mt-3">
        </form>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="row">
        {% for i in posts %}
        <div class="col-6 mx-auto">
            <div class="card shadow m-3 p-5">
                <a href="{% url 'viewtweet' i.slug %}" style="text-decoration: none; color: blueviolet;">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="fw-bold">{{i.user.username}}</h3>
                        </div>
                        <div class="cardtext">
                            {{i}}
                        </div>
                        <div class="mt-3 my-auto d-flex align-items-center">
                            <a href="{% url 'like' i.slug %}">
                                {% if request.user in i.likes.all %}
                                <i class="bi bi-heart-fill h4 me-2"></i>
                                {% else %}
                                <i class="bi bi-heart h4 me-2"></i>
                                {% endif %}
                            </a>{{ i.likes_count }}
                            Likes
                        </div>
                        <div class="text-end">
                            {{i.created|timesince}} ago
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}

    </div>

</div>