{% include 'header.html' %}
<div class="container mt-5 text-center">
    {% if follow %}
    <h3>Search Results...</h3>
    {% for i in follow %}
    <img src="{{i.userprofile.avatar.url }}" width="50" height="50" style="border-radius: 50%;">{{i.first_name}}
    {{i.last_name}}
    {% if i in object.followers.all %}
    <a href="{% url 'connect'}"></a>
    <h5 class="btn btn-danger">Unfollow</h5>
    {% else %}
    <h5 class="btn btn-success">Follow</h5>
    {% endif %}
    <br>
    {% endfor %}
    {% endif %}
</div>

<div class="container mt-5">
    <h3>Followings</h3>
    {% if object.followers.all|length == 0 %}
    No Following Yet
    {% else %}
    {% for i in object.followers.all %}
    {{i}}
    {% endfor %}
    {% endif %}
</div>