{% include 'header.html' %}
<div class="container mt-5 text-center">
    {% if follow %}
    <h3>Search Results...</h3>
    {% for i in follow %}
    <div class="card m3 shadow">
        <a href="{% url 'user-profile' i.username %}">
            <img src="{{i.userprofile.avatar.url }}" width="50" height="50" style="border-radius: 50%;">{{i.first_name}}
            {{i.last_name}}
        </a>



        {% if i in object.followers.all %}
        <a href="{% url 'connect' i.username %}">
            <h5 class="btn btn-danger">Unfollow</h5>
        </a>

        {% else %}
        <a href="{% url 'connect' i.username %}">
            <h5 class="btn btn-primary">Follow</h5>
        </a>
        {% endif %}
    </div>
    <br>
    {% endfor %}
    {% endif %}
</div>

<div class="container mt-5">
    <h3>Followings</h3>
    {% if object.followers.all|length == 0 %}
    No Following Yet
    {% else %}
    {% for i in object.followers.all %}
    <a href="{% url 'user-profile' i.username %}">
        <div class="card p-3 w-50">
            <img src="{{i.userprofile.avatar.url }}" width="50" height="50" style="border-radius: 50%;">{{i}}
        </div>
    </a>
    {% endfor %}
    {% endif %}
</div>