{% extends "base.html" %}
{%block content %}
{% for m in messages %}
{{m}}
{% endfor %}
{% if form.errors %}
{{ form.errors }}
{% endif %}
<div class="container w-25 mx-auto m-3 rounded-3">

    <form method="post" action="" class="p-5 rounded-3 shadow-lg text-center">{% csrf_token %}
        <h3 class="text-primary text-center">Registration</h3>
        <p>
            <label>{{ form.username.label}}
                {{ form.username }}
            </label>
        </p>
        <p>
            <label>{{ form.first_name.label}}
                {{ form.first_name }}
            </label>
        </p>
        <p>
            <label>{{ form.last_name.label}}
                {{ form.last_name }}
            </label>
        </p>
        <p>
            <label>{{ form.email.label}}
                {{ form.email }}
            </label>
        </p>
        <p>
            <label>{{ form.password1.label}}
                {{ form.password1 }}
            </label>
        </p>
        <p>
            <label>{{ form.password2.label}}
                {{ form.password2 }}
            </label>
        </p>
        <input type="submit" value="Register" class="btn btn-primary mb-3"><br>
        Already A User? <a href="{% url 'login' %}" class="link-underline link-underline-opacity-0">Login Here</a>
    </form>


</div>
{% endblock %}