{% include "base.html" %}
<div class="container text-center mt-5">
    <div class="card shadow rounded-4">
        <div class="card-body">
            <h3>{{object}}</h3>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    {% if object.likes.all.count != 0 %}
                    <h4>Liked by</h4>
                    {% else %}
                    <h4>No likes</h4>
                    {% endif %}
                    {% for i in object.likes.all %}
                    <a href="{% url 'user-profile' i.username %}">
                        <img src="{{i.userprofile.avatar.url}}" width="40" height="40"
                            style="border-radius: 50%;">{{i.username}}<br>
                    </a>
                    {%endfor %}
                </div>
                <div class="col-6">
                    Posted on: {{object.created|timesince}} ago
                </div>
            </div>


        </div>

    </div>

</div>